---
extends: base.j2
default_block: main
title: Adam Wisniewski - Toronto / Oshawa Ruby on Rails / Java Developer
description: Home page for the BASIC hyde template
---

<div id="main_content">
  <div id="home_main_content">

  <div class="about">    
    <h1 class="sect_title about_bg_colour">
      About
    </h1>
    <p>

    </p><dl>
      <dt>Name</dt> 
      <dd>Adam Wisniewski</dd>

      <dt>Location</dt> 
      <dd><a href="http://en.wikipedia.org/wiki/Oshawa,_Ontario">Oshawa</a> / <a href="http://en.wikipedia.org/wiki/Toronto">Toronto</a>, Ontario, Canada</dd>

      <dt>Occupation</dt> 
      <dd>Software Developer - Enterprise Java, Ruby on Rails, Various Other Web Technologies</dd>

    </dl>

    <p></p>
  </div>

  <div class="blog">
    <h1 class="sect_title blog_bg_colour">
      Latest Blog Entries
    </h1>

    <ul class="blog_list">
      {% include '/_adamw523_feed.html' %}
    </ul>
  </div>
</div>

  {% include '_network_links.html' %}



