body {
  text-align: center;
  font-family: helvetica,sans-serif;
  color: #555555; }

a {
  color: #555588; }

a img {
  border: 0px; }

#title_bar {
  margin: 0px auto;
  margin-top: 10px;
  background-repeat: no-repeat;
  height: 141px;
  width: 800px;
  text-align: left; }

#title_bar #links {
  padding-top: 77px; }

#title_bar #links a {
  color: #555555;
  text-decoration: none;
  font-size: 16pt;
  font-weight: bold;
  margin-left: 15px;
  padding-bottom: 3px; }

#title_bar #links a:hover {
  color: #ccf;
  border-bottom: 5px solid #ccf; }

#main_content {
  text-align: left;
  margin: 0px auto;
  width: 800px; }

#home_main_content {
  float: left;
  width: 570px;
  padding-left: 10px; }

#home_main_content .blog_list li {
  font-size: 12pt;
  font-weight: normal;
  padding: 5px;
  list-style-type: none; }

#blog_main_content {
  float: left;
  width: 570px;
  padding-left: 10px;
  overflow: hidden; }

#blog_main_content .blog_list li {
  font-size: 14pt;
  font-weight: bold;
  padding: 5px;
  list-style-type: none; }

#project_main_content {
  padding-left: 10px;
  padding-right: 10px; }

.project_open_source_50 {
  width: 48%;
  float: left; }

.project_services_50 {
  width: 48%;
  float: right; }


#project_main_content dl.project_list dt {
  font-size: 15pt; }

#project_main_content dl.project_list dd {
  padding-top: 4px;
  padding-bottom: 12px; }

#resume_main_content {
  float: left;
  width: 570px;
  padding-left: 10px;
  overflow: hidden; }

.resume_bg_colour {
  background-color: #f4dd83; }

#resume_main_content dl.skills_list dt {
  font-size: 15pt; }

#resume_main_content dl.skills_list dd {
  padding-top: 4px;
  padding-bottom: 12px; }

.padded {
  padding: 3px; }

.project_bg_color {
  background-color: #bcd3cd; }

.about dt {
  margin-top: 12px;
  margin-left: 5px;
  font-weight: bold;
  width: 50px; }

.about dd {
  margin: 0px;
  padding: 0px;
  margin-left: 100px; }

.sect_title {
  padding: 5px;
  margin: 0px;
  margin-bottom: 15px;
  font-size: 15pt; }

.blog {
  overflow: hidden; }

.blog_bg_colour {
  background-color: #a7c494; }

.blog_entry_title {
  font-size: 15pt;
  font-weight: bold; }

.tweets_bg_colour {
  background-color: #a7c494; }

.about_bg_colour {
  background-color: #923224; }

.about .sect_title {
  color: #eee; }

a#link_home {
  border-bottom: 5px solid #41803b; }

a#link_blog {
  border-bottom: 5px solid #a7c494; }

a#link_projects {
  border-bottom: 5px solid #bcd3cd; }

a#link_resume {
  border-bottom: 5px solid #f4dd83; }

a#link_about {
  border-bottom: 5px solid #923224; }

#network_links {
  float: right;
  width: 190px;
  border: dotted 1px #ccc;
  margin-right: 10px;
  padding: 5px;
  padding-top: 20px;
  text-align: center; }

#network_links h4 {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px; }

#network_links ul {
  list-style-type: none;
  padding: 10px;
  margin: 0px; }

#network_links ul li {
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px; }

#twitter_link {
  padding-left: 47px; }

ul.tweet_list {
  list-style-type: none; }

ul.tweet_list li {
  padding-bottom: 7px;
  padding-left: 5px; }

a.tweet_avatar img {
  padding: 2px;
  padding-bottom: 4px;
  padding-right: 4px;
  float: left; }
